.main {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

nav {
  transform: rotate(-90deg);
  position: relative;
  top: 30%;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a {
  color: #fff;
  position: relative;
  top: 10px;
  margin-left: 15px;
  font-size: 1.3rem;
}

nav a:hover {
  color: #eb4c33;
}

h1 {
  color: #2a75bb;
  text-align: center;
  font-size: 1rem;
}

.img-container {
  width: 70%;
  position: fixed;
  bottom: 2%;
  left: 30%;
}
img {
  transform: scaleX(-1);
  width: 80%;
  margin-left: 26px;
}

h3 {
  margin-right: 20px;
  font-size: 6rem;
  margin-left: 10px;
  color: #fff;
  text-transform: capitalize;
}

.pokemon {
  grid-area: 1 / 2 / 2 / 3;
  background-color: #ffcb05;
  min-height: 100vh;
}

.header {
  min-height: 100vh;
  background-color: #2a75bb;
}

.pokemon-f form input {
  border-radius: 3px;
  margin-top: 5px;
  padding: 2px;
  font-size: 1.2rem;
  background-color: #ffcb05;
  border: 1px solid #2a75bb;
  color: #fff;
  text-align: center;
}

.pokemon-f form {
  text-align: center;
}

.pokemon-f button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-top: 10px;
  /* margin-bottom: 10px; */
  font-weight: 900;
  font-size: 1rem;
  background-color: #eb4c33;
  border: none;
  color: #fff;
}

.pokemon-f form button:active:after {
  box-shadow: 0 0 0 0 white;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}

.pokemon-f form button:active {
  top: 1px;
}

form input::placeholder {
  color: rgb(41, 116, 186, 0.8);
}

.ability-container {
  border-radius: 4px;
  margin-left: 1rem;
  margin-right: 1rem;
  color: #2a75bb;
  text-align: left;
  /* border: 2px solid #2a75bb; */
  font-weight: 400;
  font-size: 1.6rem;
  text-transform: capitalize;
}

.ability-container h4 {
  font-size: 0.9rem;
  margin-left: 10px;
  text-decoration: 2px underline;
}

p {
  margin-left: 10px;
  font-size: 0.9rem;
}

footer {
  bottom: 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  color: #2a75bb;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  max-width: 70%;
}

span {
  padding-left: 10px;
}

@media only screen and (min-width: 600px) {
  .main {
    grid-template-columns: 20% 80%;
  }
  .img-container {
    width: 35%;
  }

  .ability-container {
    max-width: 300px;
  }

  .img-container {
    width: 70%;
    position: fixed;
    bottom: 2%;
    left: 50%;
  }

  img {
    width: 45%;
  }

  button {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  h1 {
    font-size: 1.6rem;
  }
  .ability-container h4 {
    font-size: 1.6rem;
  }
  p {
    font-size: 1.2rem;
  }
}
