.main {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

nav {
  color: #fff;
  transform: rotate(-90deg);
  position: relative;
  top: 25%;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a {
  position: relative;
  top: 10px;
  margin-left: 15px;
}

h1 {
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
}

.img-container {
  width: 70%;
  position: fixed;
  bottom: 2%;
  left: 30%;
}
img {
  width: 100%;
  height: 30vh;
}

h3 {
  font-size: 7rem;
  margin-left: 10px;
  color: #fff;
  text-transform: capitalize;
}

.pokemon {
  grid-area: 1 / 2 / 2 / 3;
  background-color: #eecb1f;
  min-height: 100vh;
}

.header {
  min-height: 100vh;
  background-color: #e9e2bd;
}

form input {
  border-radius: 3px;
  margin-top: 15px;
  padding: 2px;
  font-size: 1.2rem;
  background-color: #eecb1f;
  border: 2px solid #fff;
  color: #fff;
  text-align: center;
}

form {
  text-align: center;
}

form button {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 900;
  font-size: 26px;
  color: #333333;
  background: linear-gradient(180deg, #ff4840 49%, #ffffff 0%);
  padding: 12px 19px;
  border: solid #333 1px;
  box-shadow: rgb(0 0 0 / 20%) 0px 12px 28px 0px, rgb(0 0 0 / 10%) 0px 2px 4px 0px,
    rgb(255 255 255 / 5%) 0px 0px 0px 1px inset;
  border-radius: 50px;
  transition: 0ms;
  transform: translateY(0);
  align-items: center;
  cursor: pointer;
  opacity: 0.9;
}

form button:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px white;
}

form button:active:after {
  box-shadow: 0 0 0 0 white;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}

form button:active {
  top: 1px;
}

.ability-container {
  border-radius: 4px;
  margin-left: 1rem;
  margin-right: 1rem;
  color: #fff;
  text-align: left;
  border: 2px solid #fff;
  font-weight: 400;
  font-size: 1.3rem;
  text-transform: capitalize;
}

.ability-container h4 {
  font-size: 0.9rem;
  margin-left: 10px;
  text-decoration: 3px underline;
}

p {
  margin-left: 10px;
  font-size: 0.7rem;
}

footer {
  bottom: 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  color: #fff;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  max-width: 70%;
}

span {
  padding-left: 10px;
}

.battle {
  background-color: #2596be;
}

@media only screen and (min-width: 400px) {
  .img-container {
    width: 35%;
  }

  .ability-container {
    max-width: 300px;
  }

  .img-container {
    width: 70%;
    position: fixed;
    bottom: 2%;
    left: 50%;
  }

  img {
    width: 50%;
  }

  button {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
