body {
  margin: 0;
  font-family: "Audiowide", sans-serif;
}

.hide {
  display: none;
}

button {
  font-family: "Audiowide", sans-serif;
}

form input::placeholder {
  font-family: "Audiowide", sans-serif;
}
